MYSQL_USER=finance_user
MYSQL_PASSWORD=SUPERSECRETPASSWORD
MYSQL_ROOT_PASSWORD=SERSECRETROOTPASSWORD      
APP_USER=financeuser                               
APP_PASSWORD=userpassword                           
APP_FIRSTNAME=financename                        
APP_EMAIL=finance@finance.xyz                         
PUSHOVER_USER_TOKEN=YOURPUSHOVERUSERTOKEN   
PUSHOVER_APP_TOKEN=YOURPUSHOVERAPPTOKEN 
SMTP_HOST=SMTP.MAILPROVIDER.xyz                     
SMTP_USER=thriftio@userdomain.xyz                       
SMTP_PASSWORD=YOURSMTPPASSWORD               
SMTP_SENDER=thriftio@userdomain.xyz                          
SMTP_SENDER_NAME=ThriftioUSER                  
SMTP_REPLYTO=thriftio@userdomain.xyz               
SMTP_REPLYTO_NAME=ThriftioUSER
RECAPTCHA_SITEKEY=YOURKEYFROMGOOGLE
RECAPTCHA_SECRET=YOURSECRETFROMGOOGLE              
